In [2]:
import pandas as pd

In [3]:
df = pd.read_excel("climate_change_download_0.xls")

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13512 entries, 0 to 13511
Data columns (total 28 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Country code  13512 non-null  object
 1   Country name  13512 non-null  object
 2   Series code   13512 non-null  object
 3   Series name   13512 non-null  object
 4   SCALE         13512 non-null  object
 5   Decimals      13512 non-null  object
 6   1990          10017 non-null  object
 7   1991          10017 non-null  object
 8   1992          10017 non-null  object
 9   1993          10017 non-null  object
 10  1994          10017 non-null  object
 11  1995          10017 non-null  object
 12  1996          10017 non-null  object
 13  1997          10017 non-null  object
 14  1998          10017 non-null  object
 15  1999          10017 non-null  object
 16  2000          10017 non-null  object
 17  2001          10017 non-null  object
 18  2002          10017 non-null  object
 19  2003          10017 non-null  object
 20  2004          10017 non-null  object
 21  2005          10017 non-null  object
 22  2006          10017 non-null  object
 23  2007          10017 non-null  object
 24  2008          10017 non-null  object
 25  2009          10017 non-null  object
 26  2010          10017 non-null  object
 27  2011          12382 non-null  object
dtypes: object(28)
memory usage: 2.9+ MB

In [5]:
df.head()

,Country code,Country name,Series code,Series name,SCALE,Decimals,1990,1991,1992,1993,...,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011
0,ABW,Aruba,AG.LND.EL5M.ZS,Land area below 5m (% of land area),0,1,29.5748,..,..,..,...,..,..,..,..,..,..,..,..,..,..
1,ADO,Andorra,AG.LND.EL5M.ZS,Land area below 5m (% of land area),0,1,0,..,..,..,...,..,..,..,..,..,..,..,..,..,..
2,AFG,Afghanistan,AG.LND.EL5M.ZS,Land area below 5m (% of land area),0,1,0,..,..,..,...,..,..,..,..,..,..,..,..,..,..
3,AGO,Angola,AG.LND.EL5M.ZS,Land area below 5m (% of land area),0,1,0.208235,..,..,..,...,..,..,..,..,..,..,..,..,..,..
4,ALB,Albania,AG.LND.EL5M.ZS,Land area below 5m (% of land area),0,1,4.96788,..,..,..,...,..,..,..,..,..,..,..,..,..,..

In [7]:
df["Series name"].value_counts()

Population below 5m (% of total)                                    233
Land area below 5m (% of land area)                                 233
Population                                                          233
Nurses and midwives (per 1,000 people)                              233
Access to improved water source (% of total pop.)                   233
NAMA submission                                                     233
GNI per capita (Atlas $)                                            233
Disaster risk reduction progress score (1-5 scale; 5=best)          233
Primary completion rate, total (% of relevant age group)            233
Projected annual temperature change (2045-2065, Celsius)            233
GHG net emissions/removals by LUCF (MtCO2e)                         233
Urban population                                                    233
NAPA submission                                                     233
Paved roads (% of total roads)                                      233
Malaria incidence rate (per 100,000 people)                         233
Hosted Clean Development Mechanism (CDM) projects                   233
Child malnutrition, underweight (% of under age 5)                  233
Annex-I emissions reduction target                                  233
Issued Certified Emission Reductions (CERs) from CDM (thousands)    233
Ease of doing business (ranking 1-183; 1=best)                      233
Average daily min/max temperature (1961-1990, Celsius)              233
Population living below $1.25 a day (% of total)                    233
Population in urban agglomerations >1million (%)                    233
Ratio of girls to boys in primary & secondary school (%)            233
Cereal yield (kg per hectare)                                       233
Nationally terrestrial protected areas (% of total land area)       233
Invest. in telecoms w/ private participation ($)                    233
Projected change in annual hot days/warm nights                     233
Access to improved sanitation (% of total pop.)                     233
GDP ($)                                                             233
Projected change in annual cool days/cold nights                    233
Energy use per capita (kilograms of oil equivalent)                 233
Invest. in water/sanit. w/ private participation ($)                233
Annual freshwater withdrawals (% of internal resources)             233
Invest. in energy w/ private participation ($)                      233
Droughts, floods, extreme temps (% pop. avg. 1990-2009)             233
Latest UNFCCC national communication                                233
Hosted Joint Implementation (JI) projects                           233
Other GHG emissions, total (KtCO2e)                                 233
Agricultural land under irrigation (% of total ag. land)            233
Projected annual precipitation change (2045-2065, mm)               233
Physicians (per 1,000 people)                                       233
CO2 emissions, total (KtCO2)                                        233
Average annual precipitation (1961-1990, mm)                        233
Foreign direct investment, net inflows (% of GDP)                   233
Nitrous oxide (N2O) emissions, total (KtCO2e)                       233
Methane (CH4) emissions, total (KtCO2e)                             233
Energy use per units of GDP (kg oil eq./$1,000 of 2005 PPP $)       233
Access to electricity (% of total population)                       233
Under-five mortality rate (per 1,000)                               233
Issued Emission Reduction Units (ERUs) from JI (thousands)          233
Renewable energy target                                             233
Public sector mgmt & institutions avg. (1-6 scale; 6=best)          233
CO2 emissions per units of GDP (kg/$1,000 of 2005 PPP $)            233
CO2 emissions per capita (metric tons)                              233
Invest. in transport w/ private participation ($)                   233
Population growth (annual %)                                        232
Urban population growth (annual %)                                  232
Name: Series name, dtype: int64